REACT_APP_API_URL=http://localhost:5000/api
REACT_APP_SUPABASE_URL=https://tphenirbppsmkefguegt.supabase.co
REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRwaGVuaXJicHBzbWtlZmd1ZWd0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA1OTYyMzEsImV4cCI6MjA5NjE3MjIzMX0.HBCZ-VWXGX86fugQ2PTf56zPG2dw-AaJpiZDQ-zhLmY
